@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    color: a#36072A;
}

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #36072A;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #33032F;

}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1rem;
}

.active {
    border-bottom: 1px solid #36072A;
}

/* navbar dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #36072A;
    top: 100%;
    display: none;

}

#menu_drop:checked~nav {
    display: block;
}

#menu_drop {
    display: none;
}

.menu_drop_label {
    font-size: 3 rem;
}

main {
    flex: 1 0 auto;
    margin-top: 50px;
}

footer {
    background-color: aqua;
}

/* media : tablets and larger (768px and up)  */
@media screen and (min-width: 768px) {

    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .menu_drop_label {
        display: none;
    }

    #logo {
        font-size: 260%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 80px;
    }
}